<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sign in - to use Journer</title>

</head>

<body>
    <center>
                <h1 class="mb-3">Sign in!</h1>
                <form action="/main" method="POST">
                  <input type="text" name="id" class="form-control" placeholder="Enter id..." aria-label="Enter id..." aria-describedby="basic-addon">
                  <div>
                  <input type="password" name="pw" class="form-control" placeholder="Enter pw..." aria-label="Enter pw..." aria-describedby="basic-addon">
                  </div>
                    <p>
                    <input type = "submit"  value="Sign in!"></input>
                    </p>
                </form>
    </center>

</body>

</html>
